.login1 {



    padding: 0 16px;
    // display: flex !important;
    justify-content: center !important;
    height: 100%;
    flex-direction: column;
    ion-list {
        margin: 16px 8px;
        background: transparent;
        ion-item {
            --background: transparent;
        }
    }
    ion-button {
        --border-radius: 4px;
    }
    p {
        text-align: center;
    }
    ion-card {
        padding: 10px;
        margin: 0;
        box-shadow: none !important;
        margin-top: 23px;
    }
    .my-account-text {
        color: black;
        font-size: x-large;
        font-weight: 800;
    }
}
.login-logo {
    margin-top: 30px;
    // position: absolute;
    text-align: center;
    margin: auto;
    img {
        margin-top: 50px;
        height: 74px;
    }
}

.fnf_logo {

    margin-top: 26px;
    margin-right: 13px;
    margin-bottom: 11px;

}


