<ion-app>
  <ion-split-pane contentId="main-content" disabled>
    <ion-menu contentId="main-content" type="overlay" swipeGesture=false>
      <ion-content>
          <ion-menu-toggle>

            <div class="box_">
             
              <img src="../assets/icon/freaking_fast.png" class="fr_img">
            </div>
        <ion-list >
          <ion-item (click)="goTo('/tabs/home')" detail="true" lines="inset" class="ion-activatable">
            <img src="../../assets/image/home.png" class="ic_sidemenu">
            <ion-label>{{"Home" | translate}}</ion-label>
        </ion-item>
    
        <!-- <ion-item (click)="goTo('/tabs/home')" detail="true" lines="inset" class="ion-activatable">
          <img src="../../assets/image/articles.png" class="ic_sidemenu">
          <ion-label>{{"Articles - coming soon" | translate}}</ion-label>
      </ion-item> -->
    
    
      <ion-item (click)="goTo('/vendor-add-products')" detail="true" lines="inset"  class="ion-activatable">
        <img src="../../assets/image/product.png" class="ic_sidemenu">
          <ion-label>{{"Products" | translate}}</ion-label>
    </ion-item>
    
          <ion-item (click)="goTo('/tabs/account/vendor-orders')" detail="true" lines="inset" class="ion-activatable">
            <img src="../../assets/image/orders.png" class="ic_sidemenu">
            <ion-label>{{"Orders" | translate}}</ion-label>
        </ion-item>
    
        <ion-item (click)="goTo('/order-payments')" detail="true" lines="inset" class="ion-activatable">
          <img src="../../assets/image/payment.png" class="ic_sidemenu">
          <ion-label>{{"Payment" | translate}}</ion-label>
      </ion-item>
    
    
      <ion-item (click)="goTo('/vendor-coupon-list')" detail="true" lines="inset" class="ion-activatable">
        <img src="../../assets/image/coupan.png" class="ic_sidemenu">
        <ion-label>{{"Coupons" | translate}}</ion-label>
    </ion-item>
    
    <ion-item (click)="goTo('/customer-details')" detail="true" lines="inset" class="ion-activatable">
      <img src="../../assets/image/customer.png" class="ic_sidemenu">
      <ion-label>{{"Customers" | translate}}</ion-label>
    </ion-item>
    
    <ion-item (click)="goTo('/customer-details')" detail="true" lines="inset" class="ion-activatable">
      <img src="../../assets/image/refund.png" class="ic_sidemenu">
      <ion-label>{{"Refund - coming soon" | translate}}</ion-label>
    </ion-item>
    
    
    
        <ion-item (click)="goTo('/reports')" detail="true" lines="inset" class="ion-activatable">
          <img src="../../assets/image/report.png" class="ic_sidemenu">
          <ion-label>{{"Reports" | translate}}</ion-label>
      </ion-item>

      <ion-item (click)="goTo('/subscriptions')" detail="true" lines="inset" class="ion-activatable">
        <img src="../../assets/image/report.png" class="ic_sidemenu">
        <ion-label>{{"My Subscriptions" | translate}}</ion-label>
    </ion-item>


      
    
    <ion-item (click)="goTo('/driver-account-create')" detail="true" lines="inset"  class="ion-activatable">
      <img src="../../assets/image/customer.png" class="ic_sidemenu">
      <ion-label>{{"Create Driver Account" | translate}}</ion-label>
    </ion-item>
    

      <ion-list >
      
        <ion-item (click)="expandItem()" detail="true" lines="inset"  class="ion-activatable">
          <img src="../../assets/image/settings.png" class="ic_sidemenu">
          <ion-label>{{"Settings" | translate}}</ion-label>
        </ion-item>

 
    
  <ion-menu-toggle>
          <ion-list  class="expn" *ngIf="itemExpanded" expandHeight="100px" style="margin-left: 38px;" >
         
            <ion-item (click)="goToSettings('/store')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Store" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/location')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Location" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/payment')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Payment" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/shipping')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Shipping" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/seo')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"SEO" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/store-policies')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Store Policies" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/customer-support')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Customer Support" | translate}}</ion-label>
            </ion-item>
  
            <ion-item (click)="goToSettings('/store-hours')" detail="true" lines="inset"  class="ion-activatable Exp">
              <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
              <ion-label>{{"Store Hours" | translate}}</ion-label>
            </ion-item>
  
          </ion-list>
        </ion-menu-toggle>
      </ion-list>
    
   

      <ion-item (click)="LogOut()" detail="true" lines="inset"  class="ion-activatable Exp">
        <img src="../assets/image/logout.png" class="ic_sidemenu">
        <ion-label>{{"Logout" | translate}}</ion-label>
      </ion-item>
    

    
      
    
  
    
    
    
    
        </ion-list>
      </ion-menu-toggle>

          
         

      
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<style>
  img.fr_img {
    margin-top: 30px;
    width: 79%;
    margin-left: 29px;
}

img.ic_sidemenu {
    height: 16px;
    margin-right: 14px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    font-family: LatoRegular;
    font-size: 15px;
}

ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
    font-family: LatoRegular;
    font-size: 15px;
}

</style>