<ion-header mode='ios'>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Orders" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="orders">

<div class="spinner" *ngIf="!orders"><ion-spinner> </ion-spinner></div>

<div *ngIf="orders">
<div *ngIf="orders.length == 0" text-center class="empty">
  <ion-icon name="document"></ion-icon>
</div>

  <ion-card *ngFor="let item of orders"  class="ion-activatable ion-focusable hydrated" mode="ios">




    <ion-card-header>


     
  
      <!-- <span *ngIf="item.status ==  'on-the-way'">
        <ion-icon  class="nav"  ios="ios-navigate" md="md-navigate" (click)="get_directions(item)"></ion-icon>
      </span> -->

      <ion-card-subtitle>
        <span class="order_id_" (click)="getDetail(item)"> {{item.id}} - </span> 
        <span style="text-transform: uppercase;">{{item.status}}</span>

        <p>
          <ion-icon  class="_icn" ios="ios-more" md="md-more"  (click)="getDetail(item)"></ion-icon>
        </p>

        <!-- <ion-icon *ngIf="item.status ==  'AT-LOCATION' || 'ON-THE-WAY'" class="nav" ios="ios-navigate" md="md-navigate" (click)="get_directions(item)"></ion-icon> -->
  <p  *ngIf="item.status ==  'at-location'" >

    <ion-icon class="locate_icn" color="primary" name="locate-outline" (click)="get_directions(item.id) "></ion-icon>
  </p>

  <p  *ngIf="item.status ==   'on-the-way'" >

    <ion-icon class="locate_icn" color="primary" name="locate-outline" (click)="get_directions(item.id) "></ion-icon>
  </p>


      </ion-card-subtitle>
      <ion-card-title>{{item.total | currency:settings.currency:'symbol':'1.2-2'}}</ion-card-title>

    </ion-card-header>
    date_created
    customer_tip_amount
    vendor_name
    <ion-card-content>
      <p class="txt">{{item.customer_tip_amount}}</p>

      <div *ngFor="let i of item.vendor_name">
      <p class="txt" color="primary">{{i.name }}</p>
    </div>
      
      <p>{{item.date_created | date:'MMM d, y hh:mm a'}}</p>
      <p [innerHTML]="item.payment_method_title"></p>
    </ion-card-content>
  </ion-card>

	<ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && orders.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
	</ion-infinite-scroll>
</div>
</ion-content>