<ion-header mode='ios'>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Password reset" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="forgotten">
<div class="form">  
<ion-list *ngIf="!status.status">

  <p class="txt">
    Forgot your password? Dont worry. We got your back.
  </p>
  <form [formGroup]="email">
  <ion-item>
  <ion-input required type="email" formControlName="email" placeholder="Email"></ion-input>
  </ion-item>
</form>
</ion-list>

 <ion-button *ngIf="!status.status" color="{{settings.theme.button}}" expand="block" (click)="forgotten()" [disabled]="!email.valid || disableSubmit" fill="solid">{{"Send OTP" | translate}}</ion-button>

<ion-list *ngIf="status.status">
    <form [formGroup]="form">
  <ion-item>
  <ion-input required type="number" formControlName="otp" placeholder="OTP"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input required type="password" formControlName="password" placeholder="New Password"></ion-input>
  </ion-item>
</form>
</ion-list>

 <ion-button *ngIf="status.status" color="{{settings.theme.button}}" expand="block" (click)="resetPassword()" [disabled]="!form.valid || disableSubmit" fill="solid">{{"Reset Password" | translate}}</ion-button>


 <ion-item *ngIf="status?.status" lines="none">
 <ion-label text-center text-wrap [ngClass]="status.status?'success':'error'">{{status.message}}</ion-label>
</ion-item>
</div>

</ion-content>
