.forgotten {
    position: relative;
    .form {
        margin: 0;
        position: absolute;
        width: 90%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        ion-list {
            margin-bottom: 16px;
            padding-bottom: 0px;
        } 
    }
    .error {
        //color: #B00020;
    }
}

p.txt {
    text-align: center;
    font-family: LatoRegular;
    color: gray;
}
