a.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}
.isDeliveryAgent_p {
    text-align: center;
    margin-top: 33px;
    font-family: LatoBold;
}
.store_name.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    font-weight: bold;
    font-size: 16px;
}
.store_name.sc-ion-label-ios-h.sc-ion-label-md-s.ios.hydrated {
    font-weight: bold;
    font-size: 16px;
}
.p__ {
    padding-left: 16px;
    font-family: 'LatoRegular';
}

p.phn_ {
    padding-left: 16px;
    font-family: 'LatoRegular';
}

.billing_btn {

    background: lightgray;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 60px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 7px;
    margin-right: 10px;
    float: right;

padding-bottom: 8px;

}

.text__ {

    margin-bottom: 0px;

    margin-top: 5px;
    
    margin-left: 10px;
    
    font-size: 15px;
    
    float: left;

}

.status_Update_{

    float: right;
    margin-bottom: 1px;
    margin-top: 6px;

}

.close_icon.ios.hydrated {

    float: right;
    font-size: 23px;
    margin-top: -30px;
    margin-right: 8px;

}

.icon_.ios.hydrated {

    float: right;
    font-size: 23px;
    margin-top: 20px;
    margin-right: 8px;

}

.item-inner {
 font-size: 13px;

}

.status_Update_ {
    color: green;
    float: right;
    margin-bottom: 1px;
    margin-left: 6px;
    margin-top: 6px;
}

.icon_.md.ion-color.ion-color-primary.hydrated {

    margin-top: 3px;
    font-size: 20px;
 

}

.icon_.ios.ion-color.ion-color-primary.hydrated {

    margin-top: 3px;
    font-size: 20px;
  
}

.txt {
    color: lightgray;
    font-size: 12px;
    margin-top: 17px;
    margin-top: -7px;
}

.title__ {

    font-weight: bold;
    margin-left: 10px !important;

}

.status_Update {

    color: green;
    float: right;
    margin-bottom: 1px;
    margin-left: 6px;
    font-family: LatoBold;

}

ion-card {
    margin: 0;
    height: 100%;
}
ion-card-header {
    padding: 10px;
}
ion-card-content {
    padding: 0;
    .price {
        padding: 0 10px 10px 10px;
        font-weight: bold;
        font-size: 14px;
        .special-price {
            padding-left: 5px;
            font-size: 10px;
            font-weight: 300;
        }
    }
}
ion-card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: unset;
}
ion-card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: small;
}
.blocks {
    .banner_block {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        z-index: 0;
        .banner-scroll {
            img {
                text-decoration: none;
                margin: 0 5px 0 5px;
                width: 53%;
                vertical-align: middle;
            }
            img:first-child {
                margin: 0 5px 0 10px;
            }
            img:last-child {
                margin: 0 10px 0 5px;
            }
        }
        .banner-grid {
            img {
                vertical-align: middle;
            }
            .row.unlimited-items {
                flex-wrap: wrap;
            }
            .row.unlimited-items .col {
                flex: none;
                width: 50%;
                line-height: 0;
                padding: 5px;
            }
        }
        .floating-header {
            overflow: auto;
            white-space: nowrap;
            z-index: 3;
            padding-left: 30%;
            .banner {
                width: 90%;
                height: auto;
            }
            @media (min-width: 481px) and (max-width: 768px) {
                padding-left: 25%;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                padding-left: 20%;
            }
            @media (min-width: 1025px) {
                padding-left: 15%;
            }
        }
    }
    .scrollmenu {
        //background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }
    .scrollmenu a {
        display: inline-block; //color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    .left_floating {
        padding: 0 16px;
        z-index: -1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: absolute;
        top: 45%;
        max-width: 30%;
        width: 40%;
        text-align: center; //left: 0;
        white-space: normal;
        @media (min-width: 481px) and (max-width: 768px) {
            max-width: 30%;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            max-width: 25%;
        }
        @media (min-width: 1025px) {
            max-width: 20%;
        }
    }
    .top_left {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 16px;
    }
    .top_center {
        padding: 14px 10px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }
    .top_right {
        padding: 10px 16px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: right;
    }
    .none {
        display: none;
    }
    .block-title {
        margin-top: 10px;
        font-weight: 400;
    }
    .product-block {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        z-index: 0;
        .product-scroll {
            padding-bottom: 5px;
            .scroller {
                padding: 0px 4px 15px 4px;
                overflow: auto;
                white-space: nowrap;
                h5 {
                    margin: 0;
                    border-radius: 3px;
                    padding: 6px;
                    font-size: 12px;
                    text-transform: capitalize;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 400;
                }
                .product-item {
                    display: inline-block; //color: #000;
                    text-decoration: none;
                    width: 42%;
                    padding: 0px 5px 0px 5px;
                }
                @media (min-width: 481px) and (max-width: 768px) {
                    .product-item {
                        width: 33.333%;
                    }
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                    .product-item {
                        width: 25%;
                    }
                }
                @media (min-width: 1025px) {
                    .product-item {
                        width: 20%;
                    }
                }
                img {
                    height: auto;
                    width: 100%;
                }
                ion-card {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                ion-card-content {
                    padding: 0;
                }
                .price-regular {
                    font-size: 14px;
                    font-weight: 400;
                }
                del {
                    font-size: 12px; //color: #535766; // margin-left: 10px;
                }
                ion-label {
                    margin: 0;
                    padding: 0 6px 6px 6px;
                }
            }
            .floating-header {
                overflow: auto;
                white-space: nowrap;
                z-index: 3;
                padding-left: 30%;
                .banner {
                    width: 90%;
                    height: auto;
                }
            }
        }
        .product-grid {
            .wishlist-button-grid1 {
                position: absolute;
                top: 2px;
                right: 20px;
                font-size: 2em;
                margin: 0.4rem -5px;
                color: #f44336;
            }
            .wishlist-button-grid2 {
                position: absolute;
                top: 2px;
                right: 20px;
                font-size: 2em;
                margin: 0.4rem -5px;
                color: #444;
            }
            ion-row {
                margin: 0;
                padding: 0 0 0 5px;
            }
            ion-col {
                margin: 0;
                padding: 5px 5px 0 0;
            }
            ion-card {
                position: relative;
                text-align: center;
                margin: 0;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    padding: 0;
                }
                ion-card-content {
                    padding: 0px;
                }
            }
            .card-title {
                position: absolute;
                top: 80%;
                font-size: 12px;
                width: 100%;
                font-weight: 500; //color: #fff;
            }
            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%; //color: #fff;
            }
            .card-name {
                width: 144px;
                margin: auto;
                ion-label {
                    margin: 8px 0;
                    height: 20px;
                    white-space: no-wrap;
                    font-size: 13px;
                }
            }
            .label {
                margin-bottom: 10px;
                margin-top: 5px;
            }
            .price-delete {
                //color: #535766;
                margin: 0 7.5px;
                font-size: 12px;
            }
            .price-regular {
                margin: 0 7.5px;
                font-size: 14px;
                font-weight: 400;
            }
            .row.unlimited-items {
                flex-wrap: wrap;
                padding-left: 0;
            }
            .row.unlimited-items .col {
                flex: none;
                width: 50%;
                padding: 0;
            }
            .row.unlimited-items .col:nth-child(2n+0) {
                border-right: none;
            }
            @media (min-width: 481px) and (max-width: 768px) {
                .row.unlimited-items .col {
                    width: 33.333%;
                }
                .row.unlimited-items .col:nth-child(3n+0) {
                    border-right: none;
                }
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                .row.unlimited-items .col {
                    width: 25%;
                }
                .row.unlimited-items .col:nth-child(4n+0) {
                    border-right: none;
                }
            }
            @media (min-width: 1025px) {
                .row.unlimited-items .col {
                    width: 20%;
                }
                .row.unlimited-items .col:nth-child(5n+0) {
                    border-right: none;
                }
            }
        }
    }
    .flash_sale {
        .floating-header {
            overflow: auto;
            white-space: nowrap;
            z-index: 3;
            padding-left: 45% !important;
        }
        .left_floating {
            padding: 0;
            top: 15%;
            max-width: 48%;
            width: 48%;
        }
        .flash-item-name {
            //background-color: transparent;
            h2 {
                padding: 0;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                margin-left: -7px;
                margin-bottom: 8px;
                margin-top: 0;
            }
            h4 {
                //color: #999;
                padding: 4px 4px 8px 4px;
                font-size: 11px;
                text-align: center;
                text-transform: uppercase;
                text-align: center;
            }
            .day {
                background: black;
                color: #fff;
                width: 25px;
                min-width: 25px;
                max-width: 25px;
                height: 25px;
                min-height: 25px;
                max-height: 25px;
                font-size: 10px;
                display: inline-flex;
                margin: auto;
                text-align: center;
                span {
                    margin: auto;
                }
            }
        }
    }
    .category {
        z-index: 0;
        .floating-header {
            overflow: auto;
            white-space: nowrap;
            z-index: 3;
            padding-left: 43%;
            .banner {
                width: 90%;
                height: auto;
            }
        }
        .category-slider-scroll, .category-scroll {
            overflow: auto;
            white-space: nowrap;
            position: relative;
            display: -webkit-box;
            .scrollmenu2 {
                margin: 0;
                padding-bottom: 15px;
                overflow: auto;
                white-space: nowrap;
                .none {
                    display: none;
                }
                h5 {
                    margin: 0;
                    border-radius: 3px;
                    padding: 10px 4px 0 4px;
                    font-size: 11px;
                    text-transform: capitalize;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                img {
                    //height: auto;
                    //width: 20vw;
                    //max-width: 100px;
                    //max-height: 100px;
                }
                .product-item {
                    display: inline-block; //color: #000;
                    text-align: center;
                    padding: 14px;
                    text-decoration: none;
                    padding: 0 10px 10px 10px;
                    width: 40%;
                }
                @media (min-width: 481px) and (max-width: 768px) {
                    .product-item {
                        width: 33.333%;
                    }
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                    .product-item {
                        width: 25%;
                    }
                }
                @media (min-width: 1025px) {
                    .product-item {
                        width: 20%;
                    }
                }
            }
        }
        .category-slider-grid, .category-grid {
            h5 {
                font-size: 13px;
            }
            ion-card-content {
                padding: 0px;
            }
            .card-md ion-card-content {
                padding: 0px;
            }
            .none {
                display: none;
            }
            ion-card {
                margin: 0px;
                width: 100%;
                border-radius: 0;
                img {
                    display: block;
                    width: 100%;
                    height: auto; //padding: 0 10px 0 10px;
                }
            }
            .row.unlimited-items {
                flex-wrap: wrap;
                padding-left: 0;
            }
            .row.unlimited-items .col {
                flex: none;
                padding: 0;
                width: 50%;
            }
            .row.unlimited-items .col:nth-child(2n+0) {
                border-right: none;
            }
            @media (min-width: 481px) and (max-width: 768px) {
                .row.unlimited-items .col {
                    width: 33.333%;
                }
                .row.unlimited-items .col:nth-child(3n+0) {
                    border-right: none;
                }
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                .row.unlimited-items .col {
                    width: 25%;
                }
                .row.unlimited-items .col:nth-child(4n+0) {
                    border-right: none;
                }
            }
            @media (min-width: 1025px) {
                .row.unlimited-items .col {
                    width: 20%;
                }
                .row.unlimited-items .col:nth-child(5n+0) {
                    border-right: none;
                }
            }
        }
    }
}
.related-products {
    padding-bottom: 10px;
    .price {
        padding: 0 10px 10px 10px;
        font-weight: bold; //color: #000000;
        font-size: 14px;
        .special-price {
            padding-left: 5px;
            font-size: 10px;
            font-weight: 300;
        }
    }
    .related-item-name {
        //padding: 16px 0 0 0; //background-color: transparent;
        font-weight: 400;
    }
    .scroll-related-products {
        padding: 16px 0 16px 0;
        overflow-y: hidden;
        white-space: nowrap;
        .product {
            display: inline-block;
            text-decoration: none;
            width: 50%;
            margin: 0 0 0 10px;
        }
        .product:last-child {
            margin-right: 10px
        }
        @media (min-width: 481px) and (max-width: 768px) {
            .product {
                width: 33.333%;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            .product {
                width: 25%;
            }
        }
        @media (min-width: 1025px) {
            .product {
                width: 20%;
            }
        }
        ion-img {
            height: auto;
            width: 100%;
        }
        ion-card {
            width: 100%;
            height: 100%;
            margin: 0;
        }
        .border {
            border: 0.55px solid #f5f5f5;
        }
    }
    ion-list-header {
        ion-label {
            font-weight: 600;
        }
    }
}
ion-header {
    img {
        height: 30px;
        width: auto;
    }
}
.stock {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 130px;
    font-size: 8px;
    margin: 15px;
    margin-left: -39px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 19px;
    --box-shadow: none;
}
.offer {
    margin-left: 5px;
    font-size: 12px;
    --border-radius: 25px;
    width: 36px;
    min-height: 36px;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-box-shadow: none;
    --box-shadow: none;
}
.inner-scroll {
    padding-top: 0 !important;
    margin-top: 64px !important;
}
ion-refresher {
    z-index: 1;
}



select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }

  .Text_c {
    margin-bottom: 33px;
}

p.p__.Address {
    text-decoration: underline;
    line-height: 21px;
    font-style: italic;
    margin-bottom: 10px;
}

p.text__.orderId {
    line-height: 21px;
    font-style: italic;
    width: 100px;
    font-family: 'LatoRegular';
    color: black;
}


.Av_status {
    margin-top: 10px;
}

.bannr.md.hydrated {
    height: 100px;
}

.bannr.ios.hydrated {
    height: 100px;
}

.ion-activatable.ion-focusable.hydrated.md {
    margin: 4px;
}
.ion-activatable.ion-focusable.hydrated.ios {
    margin: 4px;
}

.time_ {
    padding-left: 16px;
    font-family: 'LatoRegular';
}

.delivery_note {
    padding-left: 16px;
    padding-bottom: 13px;
    font-family: 'LatoRegular';
}

span.dis_ {
    font-weight: 200;
    font-size: 10px;
    margin-left: 5px;
}

ion-toolbar.in-toolbar.md.hydrated {

    background: #B72925;
    --background: #B72925;
    --color: white;
    padding-top: 16px;
    padding-bottom: 8px;

}

ion-toolbar.in-toolbar.ios.hydrated {

    background: #B72925;
    --background: #B72925;
    --color: white;
    padding-top: 16px;
    padding-bottom: 8px;
  
}

.img-ss {
    display: flex;
}

.search__{
    width: 100%;
    background-color: #B72925;
    /* margin-top: -10px; */
    margin-bottom: 10;
    height: 61px;
    
}

ion-row.md.hydrated {

    padding-right: 18px;
}

ion-row.ios.hydrated {
    padding-right: 18px;
}

ion-item.ion-activatable.Exp.item.md.item-lines-inset.in-list.ion-focusable.item-label.hydrated {
    margin-left: 38px;
}

ion-item.ion-activatable.Exp.item.ios.item-lines-inset.in-list.ion-focusable.item-label.hydrated {
    margin-left: 38px;
}

.wel_ {
    background: #B72925;
}


.Inner_ {
    background: white;
    padding-left: 10px;
    border-radius: 10px;
    /* padding-bottom: 1px; */
    /* padding-top: 1px; */
}

.analytics_box {
    background: #E5E5E5;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
    border: 1px solid #ece4e4;
    width: 270px;
    margin-left: 15px;
}

p.amt_sale {
    font-size: 11px;
    color: #B72925;
}

p.amt_sale_ {
    font-size: 10px;
    color: gray;
}

p.wel__ {
    font-size: 13px;
    padding-top: 6px;
    font-family: LatoRegular;
    font-weight: bold;
}
p.LastLogged_ {
    font-size: 12px;
    padding-bottom: 5px;
}

p.wel__Name {
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: -5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 200px;
}

ion-icon.save_icon.md.hydrated {
    font-size: 20px;
    margin-right: 8px;
    color: #B72925;
}

ion-icon.save_icon.ios.hydrated {
    font-size: 20px;
    margin-right: 8px;
    color: #B72925;
}

ion-icon.edit_icon.md.hydrated {
    font-size: 21px;
    color: #B72925;
}

ion-icon.edit_icon.ios.hydrated {
    font-size: 21px;
    color: #B72925;
}

.header_ {
    display: inline-block; 
    width: 100%;
  }
  .playerOne {
    float: left;
  }
  .playerTwo {
    float: right;
  }

  .c_txt_ {
    width: 100%;
}
ion-scroll {
    min-height: 160px; 
    height: auto;

        .scroll-content {
        padding: 0px !important;
    }    
}

.scroll-zoom-wrapper {
    white-space: nowrap;
}

.thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-thumbnail{
      height: 100%;
      white-space: nowrap;
        .img-thumb{
            display: inline-block;
            /* border: 1px solid #ddd; */
            border-radius: 4px;
            padding: 3px;
            width: 136px;
            height: 200px;
            margin: 0 2px 0 0;
       }
    }
  }
  ::-webkit-scrollbar { 
    display: none; 
  }

  ion-img.product_featured_image.md.hydrated {
    height: 100px;
}

ion-img.product_featured_image.ios.hydrated {
    height: 100px;
}

p.cat__ {
    color: #6666668f;
    padding-left: 5px;
    font-family: LatoRegular;
}


p.price_txt {
    padding-left: 12px;
    font-weight: bold;
    font-family: LatoRegular;
    margin-top: -4px;
}

span.special-price {
    font-weight: normal;
    text-decoration: line-through;
    color: #9e9696;
    font-family: LatoRegular;
}

p.p_nm {
    overflow: hidden;
    text-overflow: ellipsis;
    display: list-item;
    line-height: 21px;
    font-family: LatoRegular;
    padding-left: 5px;
    margin-top: 4px;
}


p.vendor_name_ {
    font-family: LatoRegular;
    padding-left: 10px;
}

p.sub_txt {
    font-family: LatoRegular;
    padding-left: 10px;
    color: lightgray;
    margin-top: -13px;
}

ion-badge.ion-color.ion-color-primary.md.hydrated {
    margin-top: 29px;
    font-family: LatoRegular;
}


ion-badge.ion-color.ion-color-primary.ios.hydrated {
    margin-top: 25px;
    font-family: LatoRegular;
}


ion-select.ng-untouched.ng-pristine.ng-valid.md.hydrated.ion-untouched.ion-pristine.ion-valid {
    font-family: LatoRegular;
    font-weight: bold;
    font-size: 17px;
    padding-left: 0px;
}

ion-select.ng-untouched.ng-pristine.ng-valid.ios.hydrated.ion-untouched.ion-pristine.ion-valid {
    font-family: LatoRegular;
    font-weight: bold;
    font-size: 17px;
    padding-left: 0px;
}


ion-select.select__.ng-valid.md.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
    font-family: LatoRegular;
    font-weight: bold;
    font-size: 17px;
    padding-left: 0px;
    margin-top: -6px;
}


ion-select.select__.ng-valid.ios.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
    font-family: LatoRegular;
    font-weight: bold;
    font-size: 17px;
    padding-left: 0px;
    margin-top: -6px;
}


ion-icon.phn_ic.md.hydrated {
    margin-right: 4px;
}

ion-icon.phn_ic.ios.hydrated {
    margin-right: 4px;
}

ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
    font-family: LatoRegular;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    font-family: LatoRegular;
}

ion-label#ion-tg-0-lbl {
    font-family: LatoRegular;
}

.conta {
    font-family: 'LatoRegular';
}

span {
    color: #595959;
}

#searchinput{
     
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    p.wel__Name {
        font-family: LatoRegular;
    }


    .ico_Anlytics {
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
    }
    .ico_Anlytics.one {
        background: #EB3349;
    }
    .ico_Anlytics.two {
        background: rgba(82, 100, 198, 0.68);
    }
    .ico_Anlytics.three {
        background: #E1D915;
    }
    .ico_Anlytics.four {
        background: #1B6086;
    }
 

    img.vec_img {
        height: 20px;
        margin-top: 22px;
    }

    @media only screen and (min-width: 601px) {
        .analytics_box{
            width: 306px !important;
        }
      }

      ion-row.row_bg.md.hydrated {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    ion-row.row_bg.ios.hydrated {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }


    img.ic_sidemenu {
        height: 16px;
        margin-right: 14px;
    }

    // ====user

    ion-card.card.card__full.md.hydrated {
    height: 172px;
    border-radius: 20px;
}


ion-card.card.card__full.ios.hydrated {
    height: 172px;
    border-radius: 20px;
}

p.p_nm {
    margin-left: 6px;
}


// ==


    .cus_ {
            --background: linear-gradient(90deg, #CB2D3E 0%, #EF473A 100%);
        
        }
        
        .cont1 {
            --display: inline;
        }
        
        .container1 {
     
           position: relative;
            top: 20px;
            border: 1px solid #989898;
            border-radius: 25px;
            margin-left: 20px;
            margin-right: 20px;
           height: 40px;
        
        }
        
        .container2 {
        
       
            position: relative;
            top: 40px;
            border: 1px solid #989898;
            border-radius: 25px;
            margin-left: 20px;
            margin-right: 20px;
            height: 40px;
        
        }
       
     
        .container {
            position: relative;
            top: 80px;
            width: 100px;
            background-color: green;
            overflow: hidden; 
            white-space: nowrap;
            ::-webkit-scrollbar {
              display: none;
            }
            .scroll {
              overflow: auto;
           }
          }


          p.status_mem {
    background: #15d223;
    width: 60px;
    text-align: center;
    border-radius: 60px;
    padding: 5px;
    float: right;
    margin-top: -53px;
}



          
    

