<ion-header  *ngIf="userLoggedIn == true">
  <ion-toolbar>


     <ion-buttons slot="start" > 

      <div class="img-ss" *ngIf="userLoggedIn == true" (ionChange)="deliveryLocation()">
 
          <ion-icon name="pin" style="font-size: 30px;
          margin-left: 10px;"></ion-icon> 
          
          <ion-select class="select__" [(ngModel)]="SelectDeliveryLocation" placeholder="Choose location" >
            <ion-select-option  *ngFor="let x of deliveryLocationList"   [value]="x.val">{{x.location}}</ion-select-option>
          </ion-select>

      </div>
      

    </ion-buttons>

    <ion-buttons slot="end"  *ngIf="userLoggedIn == true">
      <div *ngIf="vendors?.length != 0">

        <ion-select [(ngModel)]="SelectedVendor" placeholder="Choose vendor" (ionChange)="selectVendor(SelectedVendor)">
          <ion-select-option *ngFor="let x of vendors" [value]="x">{{x.display_name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-header  *ngIf="userLogged_In == true">
  <ion-toolbar>


     <ion-buttons slot="start" > 

      <div class="img-ss" (ionChange)="deliveryLocation()">
 
          <ion-icon name="pin" style="font-size: 30px;
          margin-left: 10px;"></ion-icon> 
          
          <ion-select class="select__" [(ngModel)]="SelectDeliveryLocation" placeholder="Choose location" >
            <ion-select-option  *ngFor="let x of deliveryLocationList_NoUserLogin"   [value]="x.val">{{x.location}}</ion-select-option>
          </ion-select>

      </div>
      

    </ion-buttons>


  </ion-toolbar>
</ion-header>

 


<ion-content>

  <!-- <p  *ngIf="userLoggedIn == false">MENU</p>
  <ion-menu-button  *ngIf="userLoggedIn == false" ></ion-menu-button> -->


  <div class="con" *ngIf="!isDeliveryAgent">
    <div class="search__" 
    *ngIf="searchPlacesX">
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()" mode="ios" color="light" ></ion-searchbar><br><br><br>
    </div>


    
    </div>

  <!-- <button (click)="welcome_()">Welcome</button> -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="settings.settings?.pull_to_refresh">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_home_chat">
    <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
      <ion-fab-button size="small" color="whatsapp">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-fab>

  <!-- <div class="spinner" *ngIf="!data.blocks?.blocks && !isDeliveryAgent"><ion-spinner> </ion-spinner></div> -->


  
  <div *ngFor="let children of data.blocks?.blocks" hideWhen="loading" class="blocks">

    <div *ngIf="children.block_type == 'banner_block'" [style.background-color]="children.bg_color"
      [style.margin]="children.margin" [style.padding]="children.padding" class="banner_block">

      <div class="{{children.header_align}}" [style.color]="children.title_color">{{children.title}}</div>
      <!-- Banner Slider -->
      <div *ngIf="children.children?.length && children.style == 'slider'">
        <ion-slides pager="true" [options]="slideOpts" dir="{{settings.dir}}">
          <ion-slide *ngFor="let image of children.children">
            <img class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}" src="{{image.image}}"
              [style.width.px]="screenWidth" [style.height.px]="getHeight(image)" (click)="goto(image)"
              [style.border-radius]="children.border_radius" [style.padding]="children.margin_between">
          </ion-slide>
        </ion-slides>
      </div>

      <!-- Banner Scroll -->
      <div *ngIf="children.children?.length && children.style == 'scroll'"
        [ngClass]="{'floating-header': children.header_align == 'left_floating'}"
        class="floating-header banner-scroll {{children.banner_shadow}}">
        <img class="banner ion-activatable ion-focusable hydrated  {{children.banner_shadow}}"
          *ngFor="let image of children.children ; let i = index" src="{{image.image}}" (click)="goto(image)"
          [style.border-radius]="children.border_radius"
          [style.width.%]="children.child_width*this.settings.widthMultipy"
          [style.margin-right]="children.margin_between" [style.margin-left]=" i == 0 ? children.margin_between : 0">
      </div>

      <!-- Banner Grid -->
      <div *ngIf="children.children?.length && children.style == 'grid'" class="banner-grid">
        <ion-row class="row unlimited-items">
          <ion-col *ngFor="let image of children.children" size="{{children.child_width/8.33333333}}"
            [style.padding]="children.margin_between">
            <img src="{{image.image}}" (click)="goto(image)" [style.border-radius]="children.border_radius"
              class="{{children.card_style}}  {{children.banner_shadow}} ion-activatable ion-focusable hydrated">
          </ion-col>
        </ion-row>
      </div>

    </div>

    <div *ngIf="children.block_type == 'product_block' && children.products?.length"
      [style.background-color]="children.bg_color" [style.margin]="children.margin" [style.padding]="children.padding"
      class="product-block">
      <div *ngIf="children.products?.length" class="header-title {{children.header_align}}"
        [style.color]="children.title_color">{{children.title}}</div>
      <!-- Products Scroll -->
      <div *ngIf="children.products && children.style == 'scroll'" class="product-scroll">
        <div class="scroller" [ngClass]="{'floating-header': children.header_align == 'left_floating'}">
          <div class="product-item" *ngFor="let item of children.products" [style.width.%]="children.child_width">
            <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}"
              [style.border-radius]="children.border_radius">
              <!-- <img class="ion-activatable ion-focusable hydrated" (click)="getProduct(item, )" *ngIf="item.images?.length"
                src="{{item.images[0].src}}">
              <img class="ion-activatable ion-focusable hydrated" (click)="getProduct(item)"
                *ngIf="!item.images?.length" src="assets/image/logo.png"> -->
              <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]"
                (click)="settings.addToWishlist(item.id)"></ion-icon>
              <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid"
                *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>

              <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">
                {{"No Stock" | translate}}</ion-button>
              <div *ngIf="item.stock_status == 'instock'">
                <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">
                  {{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
              </div>

              <!-- <ion-card-header (click)="getProduct(item)">
                <ion-card-title mode="md" [style.color]="children.title_color">{{item.name}}</ion-card-title>
              </ion-card-header> -->
              <!-- <ion-card-content (click)="getProduct(item)">
                <p class="price">
                  <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                  <span class="regular-price" *ngIf="item.sale_price"><span
                      [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del
                        [innerHTML]="item.formated_price"></del></span></span>
                </p>
              </ion-card-content> -->
            </ion-card>
          </div>
        </div>
      </div>


      <!-- <div class="product-grid" *ngIf="children.products?.length && children.style == 'grid'">
        <ion-row class="row unlimited-items">
          <ion-col class="col" *ngFor="let item of children.products" [style.padding]="children.margin_between">
            <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}"
              [style.border-radius]="children.border_radius">
              <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="item.images?.length"
                [src]="item.images[0].src" (click)="getProduct(item)"></ion-img>
              <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="!item.images?.length"
                src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
              <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]"
                (click)="settings.addToWishlist(item.id)"></ion-icon>
              <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid"
                *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
              <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">
                {{"No Stock" | translate}}</ion-button>
              <div *ngIf="item.stock_status == 'instock'">
                <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">
                  {{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
              </div>
              <ion-card-header>
                <ion-card-title mode="md" [style.color]="children.title_color">{{item.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="price">
                  <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                  <span class="regular-price" *ngIf="item.sale_price"><span
                      [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del
                        [innerHTML]="item.formated_price"></del></span></span>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div> -->
    </div>

    <!--flash sale-->

    <div *ngIf="children.block_type == 'flash_sale_block' && !children.hide && children.products?.length"
      [style.background-color]="children.bg_color" [style.margin]="children.margin" [style.padding]="children.padding"
      class="product-block flash_sale">

      <div *ngIf="children.products" class="{{children.header_align}}" [style.color]="children.title_color">
        <div no-lines class="flash-item-name">
          <h2 [style.color]="children.title_color">{{children.title}}</h2>
          <div style="text-align: center;">
            <h3 class='day'><span>{{children.days}}</span></h3> : <h3 class='day'><span>{{children.hours}}</span></h3> :
            <h3 class='day'><span>{{children.minutes}}</span></h3> : <h3 class='day'><span>{{children.seconds}}</span>
            </h3>
          </div>
        </div>
      </div>

      <!-- Products Scroll -->
      <!-- <div *ngIf="children.products && children.style == 'scroll'" class="product-scroll">
        <div class="scroller" [ngClass]="{'floating-header': children.header_align == 'left_floating'}">
          <div class="product-item" *ngFor="let item of children.products" [style.width.%]="children.child_width"
            [style.padding]="children.margin_between">
            <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}"
              [style.border-radius]="children.border_radius">
              <ion-card-content>
                <img class="ion-activatable ion-focusable hydrated" (click)="getProduct(item)"
                  *ngIf="item.images?.length" src="{{item.images[0].src}}">
                <img class="ion-activatable ion-focusable hydrated" (click)="getProduct(item)"
                  *ngIf="!item.images?.length" src="assets/image/logo.png">
                <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid"
                  *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
                <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid"
                  *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
                <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">No Stock</ion-button>
                <div *ngIf="item.stock_status == 'instock'">
                  <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">
                    {{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
                </div>
              </ion-card-content>
              <ion-card-header (click)="getProduct(item)">
                <ion-card-title mode="md" [style.color]="children.title_color">{{item.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content (click)="getProduct(item)">
                <p class="price">
                  <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                  <span class="regular-price" *ngIf="item.sale_price"><span
                      [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del
                        [innerHTML]="item.formated_price"></del></span></span>
                </p>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div> -->
      <!-- Products  Grid-->
      <!-- <div class="product-grid" *ngIf="children.products?.length && children.style == 'grid'">
        <ion-row class="row unlimited-items">
          <ion-col class="col" *ngFor="let item of children.products" [style.padding]="children.margin_between">
            <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}"
              [style.border-radius]="children.border_radius">
              <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="item.images?.length"
                [src]="item.images[0].src" (click)="getProduct(item)"></ion-img>
              <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="!item.images?.length"
                src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
              <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]"
                (click)="settings.addToWishlist(item.id)"></ion-icon>
              <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid"
                *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
              <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">
                {{"No Stock" | translate}}</ion-button>
              <div *ngIf="item.stock_status == 'instock'">
                <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">
                  {{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
              </div>
              <ion-card-header>
                <ion-card-title mode="md" [style.color]="children.title_color">{{item.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="price">
                  <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                  <span class="regular-price" *ngIf="item.sale_price"><span
                      [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del
                        [innerHTML]="item.formated_price"></del></span></span>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div> -->
    </div>


    <!-- category-block-->
    <!-- <div *ngIf="children.block_type == 'category_block' && !isDeliveryAgent"
      [style.background-color]="children.bg_color" [style.margin]="children.margin" [style.padding]="children.padding"
      class="category">
      <div *ngIf="data.categories" class="{{children.header_align}}" [style.color]="children.title_color">
        {{children.title}}</div> -->
      <!-- Category Scroll -->
      <!-- <div *ngIf="data.categories && children.style == 'scroll'" class="category-slider-scroll">
        <div class="scrollmenu2" [ngClass]="{'floating-header': children.header_align == 'left_floating'}">
          <div class="scroll-related-products">
            <div class="product" *ngFor="let item of getSubCategories(children.link_id)"
              [style.width.%]="children.child_width" [style.padding]="children.margin_between">
              <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}"
                [style.border-radius.px]="settings.dimensions.productBorderRadius" (click)="getCategory(item.id)">
                <img *ngIf="item.image?.src" src="{{item.image.src}}">
                <ion-card-header>
                  <ion-card-title text-center mode="md" [innerHTML]="item.name">{{item.name}}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Category Grid -->
      <!-- <div *ngIf="data.categories && children.style == 'grid'" class="category-slider-grid">
        <ion-row class="row unlimited-items">
          <ion-col class="col {{item.slug}}" *ngFor="let item of getSubCategories(children.link_id)"
            [style.width.%]="children.child_width" [style.padding]="0" [style.padding]="children.margin_between">
            <div class="ion-activatable ion-focusable hydrated" (click)="getCategory(item.id)">
              <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}"
                [style.border-radius]="children.border_radius">
                <img *ngIf="item.image?.src" src="{{item.image.src}}">
                <ion-card-header>
                  <ion-card-title text-center mode="md" [innerHTML]="item.name">{{item.name}}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div> -->

  </div>




  <!-- <div *ngIf="data.blocks?.featured?.length" class="related-products">
    <ion-list-header>
      <ion-label>{{"Featured Products" | translate}}</ion-label>
    </ion-list-header>
    <div class="scroll-related-products">
      <div class="product" *ngFor="let item of data.blocks.featured"
        [style.width.px]="settings.dimensions.homeSliderWidth">
        <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}"
          [style.border-radius.px]="settings.dimensions.productBorderRadius">
          <ion-card-content>
            <ion-img alt="" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)"
              [style.height.px]="settings.dimensions.homeSliderHeight"></ion-img>
            <ion-img alt="" [style.height.px]="settings.dimensions.homeSliderHeight" *ngIf="!item.images?.length"
              src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
            <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]"
              (click)="settings.addToWishlist(item.id)"></ion-icon>
            <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid"
              *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
            <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">
              {{"No Stock" | translate}}</ion-button>
            <div *ngIf="item.stock_status == 'instock'">
              <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">
                {{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
            </div>
          </ion-card-content>
          <ion-card-header (click)="getProduct(item)">
            <ion-card-title mode="md">{{item.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content (click)="getProduct(item)">
            <p class="price">
              <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
              <span class="regular-price" *ngIf="item.sale_price"><span
                  [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del
                    [innerHTML]="item.formated_price"></del></span></span>
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div> -->



  <!-- ================ -->

  <div class="isDeliveryAgent_container" *ngIf="isDeliveryAgent">

    <div class="Av_status">
      <ion-item style="margin-top: -9px;">
        <ion-label color="primary">Availability</ion-label>
        <ion-toggle [(ngModel)]="availabilityVen" color="primary"  (ionChange)="updateAvailabilityStatus($event)"></ion-toggle>
      </ion-item>
    </div>
    <!-- deliveryAgentRes.order_detail[0].agent_availability_status -->


    <div *ngIf="isDeliveryAgent">

      <div class="Text_c">

        <!-- <div class="Error" *ngIf="errorTxt != ''">
          <p class="errorTxt">{{errorTxt}}</p>
        </div> -->
        
        <!-- <h3 *ngIf="HttpFailurForDeliveryBoyorderDetails_" class="isDeliveryAgent_p">
          No order assigned.
        </h3> -->

        <div class="deliveryAgentRes?.length == 0 ">
        <h3 *ngIf="orderDetails_" class="isDeliveryAgent_p">
          Assigned orders
        </h3>
      </div>
      </div>
      <!-- <div class="ss" *ngFor=""> -->


      <ion-card *ngFor="let details of deliveryAgentRes" class="ion-activatable ion-focusable hydrated" mode="ios"
        style="height: auto;
        margin-bottom: 18px;
        margin-left: 10px;
        margin-right: 10px;">
        <ion-card-header>
          <ion-card-subtitle>
            <p class="text__ orderId" (click)="viewOrderDetailsDeliveryAgent(details)">{{details.order_detail.order_id}}
              - <span style="text-transform: uppercase;">{{details.order_detail._order_currency}}
                {{details.order_detail._order_total}}</span>
            </p>
            <p class="status_Update" *ngIf="details.order_detail.order_status === 'wc-completed' ">
              {{details.order_detail.order_status}}
            </p>
            <p class="status_Update_" *ngIf="details.order_detail.order_status != 'wc-completed' ">
              {{details.order_detail.order_status}}
            </p>

          </ion-card-subtitle>
          <ion-card-title>

            <div *ngIf="details.order_detail.driver_order_status != '1' ">
            <ion-item *ngIf="details.order_detail.order_status != 'wc-completed' ">
              <ion-label>Confirm Order</ion-label>
              <div class="conta">
              <button class="accp" (click)="OrderConfirm('1', details.order_detail.order_id)">Accept</button>
              <button class="accp" (click)="OrderConfirm('0', details.order_detail.order_id)">Deny</button>
            </div>
            </ion-item>
          </div>
            <!-- _wcfmmp_order_processed -->
            <!-- *ngIf="details.order_detail.order_status  "  -->
            <ion-item *ngIf="details.order_detail.driver_order_status != '0' " >
              <ion-label>Update Delivery Status</ion-label>
              <ion-select [(ngModel)]="SelectedUpdatedStatus" placeholder="Update status"
                (ionChange)="selectStatus(details.order_detail.order_id)">
                <ion-select-option *ngFor="let x of updateStatuses" [value]=" x.val ">{{x.statusToUpdate}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-label class="order_note_txt">{{details.order_detail.customer_note}}</ion-label>

          </ion-card-title>


        </ion-card-header>

        <ion-card-content>

          <div class="ord_"  *ngIf="details.order_detail.order_status == 'wc-completed' ">
            <p class="delivery_note">Tip received: {{details.order_detail.agent_tip}}</p>
          </div>
          
          <p class="p__ Address" (click)="openMapNavigator(details.order_detail)">
            <ion-icon name="navigate-outline" color="primary" class="icon_"
            (click)="openMapNavigator(details.order_detail._billing_address_index)"></ion-icon>

            {{details.order_detail._billing_address_index }}
          
          </p>
          <p class="phn_" (click)="Phn_dialer2(details.order_detail._billing_phone)">
            <ion-icon name="call-outline" class="phn_ic"></ion-icon>
          
            {{details.order_detail._billing_phone }}
            
          </p>
            <p class="p__ date"> Paid on {{details.order_detail._paid_date  | date:'MM dd, yy hh:mm a'}}</p>
          <p class="time_">Time to deliver: {{details.order_detail.time_to_deliver}}</p>
          <p class="delivery_note">Delivery Note: {{details.order_detail.customer_note}}</p>
        

          
        </ion-card-content>
      </ion-card>

    </div>
  </div>
  <!-- </div> -->




  

  <div class="userLoggedIn" *ngIf="userLoggedIn">

<!-- <ion-grid>
      <ion-row >
            <ion-col size="1">
              <ion-icon name="search">
      
              </ion-icon>
            </ion-col>
      
            <ion-col>
              <ion-input placeholder="Home Address" size="8">
      
              </ion-input >
            </ion-col>
            <ion-col size="1">
              <ion-icon name="cart" >
      
              </ion-icon>
            </ion-col>
          </ion-row>
      
        </ion-grid>
      
        
        <ion-grid class="container2">
      
          <ion-row >
            <ion-col size="1">
              <ion-icon name="search">
      
              </ion-icon>
            </ion-col>
      
            <ion-col>
              <ion-input placeholder="Home Address" size="8">
      
              </ion-input >
            </ion-col>
            <ion-col size="1">
              <ion-icon name="cart" >
      
              </ion-icon>
            </ion-col>
          </ion-row>
      
        </ion-grid>
      
        <div class="container3">
        <ion-button color="danger" shape="round">
          Check Availability >
      
        </ion-button>
        </div> -->
      
    
  <div class="con" >

    <!-- <ion-searchbar mode="ios" animated [(ngModel)]="searchInput" (ionChange)="onInput()"></ion-searchbar> -->


<div class="search_p" *ngIf="products_s">

    <ion-row style="margin-bottom: 10px"  class="row__"  *ngFor="let item of vendors_s">

      <div class="c_txt_">
  
  
        <div class="header_">
          <div class="playerOne">
            <p class="vendor_name_" (click)="getDetail(item)" >{{item.display_name}}</p>
            <p class="sub_txt">{{item.vendor_dash_details._wcfm_city}} 
              {{item.vendor_dash_details._wcfm_country}}    
            </p>
          </div>
          <div class="playerTwo">
            <ion-badge color="primary">
              {{item.distance}} miles
            </ion-badge>
          </div>
        </div>
      </div>
      
           <div class="thumnails" scrollX="true" direction="x"   (click)="getVal(item)" >
            <div class="list-thumbnail">
              <div class="img-thumb" [class.selected-img]="item.selected" *ngFor="let i of item.vendor_products" (click)="getProduct(item.display_name, i)" >
                 <ion-card class="card card__full">
                     <ion-card-header no-padding>
           
                    <ion-img class="product_featured_image" src="../../assets/image/place_pro.png" *ngIf="!i.product_featured_image" style="width: 100%;"> </ion-img>
                       
                       <ion-img class="product_featured_image" [src]="i.product_featured_image" *ngIf="i.product_featured_image" style="width: 100%;"> </ion-img>
                           </ion-card-header>
                                    
                        <ion-card-content>
                           <p class="p_nm" text-center>   {{ i.product_name }}</p>
  
                           <p class="price_txt">
                            {{i.product_price | currency:settings.currency:'symbol':'1.2-2'}}
                            <span *ngIf="item.product_sale_price"
                            class="special-price">{{i.product_sale_price | currency:settings.currency:'symbol':'1.2-2'}}</span>
                           </p>
  
                           <p class="cat__">
                            {{ i.product_categories }}
                          </p>
  
                        </ion-card-content>
                   </ion-card>
               </div>
            </div>
           </div>
  
    </ion-row>

  </div>

    
    <div *ngIf="vendors?.length == 0 ">
      <p style="color: gray;" >No store delivers your Address <span *ngIf="SelectDeliveryUnavailable"></span></p>
  
     
    </div>

    <div class="__Pla" *ngIf="searchPlacesList">



      <ion-list *ngIf="searchPlacesList">
        <ion-item *ngFor="let item of autocompleteItems" tappable   (click)="chooseItem(item)">
          {{ item }}
        </ion-item>
      </ion-list>
    
    </div>


  <!-- <ion-item *ngIf="!isDeliveryAgent">
    <ion-label>Delivery Location</ion-label>
   <ion-select [(ngModel)]="SelectDeliveryLocation" placeholder="" (ionChange)="deliveryLocation()">
      <ion-select-option  *ngFor="let x of deliveryLocationList"   [value]="x.val">{{x.location}}</ion-select-option>
    </ion-select>
  </ion-item> -->

  
<!-- <div class="view_" *ngIf="loggedIn"> -->



    <!-- <ion-row *ngIf="byVendor">
      <p class="label_">{{VendorNameDis}}</p>
    </ion-row>

  <ion-row *ngIf="byVendor" style="    margin-bottom: 59px;">




    <ion-col size="6" size-sm="4" size-md="3" *ngFor="let product of products">
      <ion-card mode="md" (click)="getProduct(product)">

        <ion-img style="height: 130px;" src="{{product.images[0].src}}" *ngIf="product.images.length"></ion-img>

        <ion-card-header>
          <ion-card-title></ion-card-title>
          <ion-card-subtitle><span
              class="regular-price">{{1*product.price | currency:settings.currency:'symbol':'1.2-2'}}</span>
            <span *ngIf="product.sale_price"
              class="special-price"><del>{{1*product.sale_price | currency:settings.currency:'symbol':'1.2-2'}}</del></span>
          </ion-card-subtitle>
        </ion-card-header>


      </ion-card>
    </ion-col>
  </ion-row> -->



  <div class="bmm"  *ngIf="byVendor" style="    margin-bottom: 59px;">

    <ion-row style="margin-bottom: 10px"  class="row__"  *ngFor="let item of vendor_detail_">


      <div class="c_txt_">
  
  
        <div class="header_">
          <div class="playerOne">
            <p class="vendor_name_" (click)="getDetail(item)" >{{item.display_name}}</p>
            <p class="sub_txt">{{item.vendor_dash_details._wcfm_city}} 
              {{item.vendor_dash_details._wcfm_country}}    
            </p>
          </div>
          <div class="playerTwo">
            <ion-badge color="primary">
              {{item.distance}} miles
            </ion-badge>
          </div>
        </div>
      </div>
      
           <div class="thumnails" scrollX="true" direction="x"   (click)="getVal(item)" >
            <div class="list-thumbnail">
              <div class="img-thumb" [class.selected-img]="item.selected" *ngFor="let i of item.vendor_products" (click)="getProduct(item.display_name, i)" >
                 <ion-card class="card card__full">
                     <ion-card-header no-padding>
           
                    <ion-img class="product_featured_image" src="../../assets/image/place_pro.png" *ngIf="!i.product_featured_image" style="width: 100%;"> </ion-img>
                       
                       <ion-img class="product_featured_image" [src]="i.product_featured_image" *ngIf="i.product_featured_image" style="width: 100%;"> </ion-img>
                           </ion-card-header>
                                    
                        <ion-card-content>
                           <p class="p_nm" text-center>   {{ i.product_name }}</p>
  
                           <p class="price_txt">
                            {{i.product_price | currency:settings.currency:'symbol':'1.2-2'}}
                            <span *ngIf="item.product_sale_price"
                            class="special-price">{{i.product_sale_price | currency:settings.currency:'symbol':'1.2-2'}}</span>
                           </p>
  
                           <p class="cat__">
                            {{ i.product_categories }}
                          </p>
  
                        </ion-card-content>
                   </ion-card>
               </div>
            </div>
           </div>
  
    </ion-row>

    

</div>


<!-- ============= -->

  <ion-row style="margin-bottom: 10px"  class="row__"  *ngFor="let item of vendors">

    <div class="c_txt_">


      <div class="header_">
        <div class="playerOne">
          <p class="vendor_name_" (click)="getDetail(item)" >{{item.display_name}}</p>
          <p class="sub_txt">{{item.vendor_dash_details._wcfm_city}} 
            {{item.vendor_dash_details._wcfm_country}}    
          </p>
        </div>
        <div class="playerTwo">
          <ion-badge color="primary">
            {{item.distance}} miles
          </ion-badge>
        </div>
      </div>
    </div>
    
         <div class="thumnails" scrollX="true" direction="x"   (click)="getVal(item)" >
          <div class="list-thumbnail">
            <div class="img-thumb" [class.selected-img]="item.selected" *ngFor="let i of item.vendor_products" (click)="getProduct(item.display_name, i)" >
               <ion-card class="card card__full">
                   <ion-card-header no-padding>
         
                  <ion-img class="product_featured_image" src="../../assets/image/place_pro.png" *ngIf="!i.product_featured_image" style="width: 100%;"> </ion-img>
                     
                     <ion-img class="product_featured_image" [src]="i.product_featured_image" *ngIf="i.product_featured_image" style="width: 100%;"> </ion-img>
                         </ion-card-header>
                                  
                      <ion-card-content>
                         <p class="p_nm" text-center>   {{ i.product_name }}</p>

                         <p class="price_txt">
                          {{i.product_price | currency:settings.currency:'symbol':'1.2-2'}}
                          <span *ngIf="item.product_sale_price"
                          class="special-price">{{i.product_sale_price | currency:settings.currency:'symbol':'1.2-2'}}</span>
                         </p>

                         <p class="cat__">
                          {{ i.product_categories }}
                        </p>

                      </ion-card-content>
                 </ion-card>
             </div>
          </div>
         </div>

  </ion-row>
  

  <!-- </ion-card> -->



</div>

</div>

  <!-- // by vendor -->
  <!-- <div class="spinner" *ngIf=" !isDeliveryAgent"><ion-spinner> </ion-spinner></div> -->

  <div class="spinner" *ngIf=" products?.length == 0 && !isDeliveryAgent">{{"No Results" | translate}}</div>







  <!-- <div *ngIf="data.blocks?.on_sale?.length && !isDeliveryAgent && !loggedIn" class="related-products">

    <ion-list-header>
      <ion-label>{{"Onsale Products" | translate}}</ion-label>
    </ion-list-header>
    <div class="scroll-related-products">
      <div class="product" *ngFor="let item of data.blocks.on_sale"
        [style.width.px]="settings.dimensions.homeSliderWidth">
        <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}"
          [style.border-radius.px]="settings.dimensions.productBorderRadius">
          <ion-card-content>
            <ion-img alt="" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)"
              [style.height.px]="settings.dimensions.homeSliderHeight"></ion-img>
            <ion-img alt="" [style.height.px]="settings.dimensions.homeSliderHeight" *ngIf="!item.images?.length"
              src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
            <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]"
              (click)="settings.addToWishlist(item.id)"></ion-icon>
            <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid"
              *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
            <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">
              {{"No Stock" | translate}}</ion-button>
            <div *ngIf="item.stock_status == 'instock'">
              <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">
                {{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
            </div>
          </ion-card-content>
          <ion-card-header (click)="getProduct(item)">
            <ion-card-title mode="md">{{item.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content (click)="getProduct(item)">
            <p class="price">
              <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
              <span class="regular-price" *ngIf="item.sale_price"><span
                  [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del
                    [innerHTML]="item.formated_price"></del></span></span>
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div> -->


  <!-- =====================vendor -->

  <div *ngIf="!isDeliveryAgent">

  <div class="isVendorLogin" *ngIf="isVendorLoginO">

    <div class="wel_">
      <ion-row style="padding-left: 0px;"> 
        <ion-col size=2  style="padding:0px;display: flex;justify-content: center;align-items: center;"><ion-menu-button color=light></ion-menu-button></ion-col>
  
      </ion-row>
    </div>


    <ion-row>
      <ion-col style="padding:0px"  >
        <div class="Inner_">
        <p class="wel__">
          
          Welcome to the Site Dashboard
        </p>
        <p class="wel__Name">
         {{settings.customer.first_name}} {{settings.customer.last_name}}
        </p>


        
        <p class="LastLogged_" *ngIf="membership_status">

          Last login: {{Subscript.last_active }}

         </p>


         <div  *ngIf="membership_status">

               <p  class="LastLogged_" *ngIf="Subscript.membership_status == 'active'">
          
          Remaining days:   {{Subscript.remaining_days}}
        </p>

      </div>

        </div>

        <p class="status_mem" *ngIf="membership_status">
          {{Subscript.membership_status}}
          
        </p>

  
      </ion-col>
    </ion-row>
      <ion-row class="row_bg" justify-content-center >


        <ion-col size="auto">
          <div class="analytics_box">
            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics one">
                  <img src="../../assets/image/Vector.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{grossSale | currency:settings.currency:'symbol':'1.2-2'}}
              </p>
              <p class="amt_sale_">
                gross sale of this month
              </p>
            </div>

              </ion-col>
            </ion-row>
         
        
          </div>
        </ion-col>
        <ion-col size="auto" >
          <div class="analytics_box">
            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics two">
                  <img src="../../assets/image/Vector2.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{earing | currency:settings.currency:'symbol':'1.2-2'}}
              </p>
              <p class="amt_sale_">
                earnings of this month
              </p>
            </div>

              </ion-col>
            </ion-row>
         
          </div>
        </ion-col>
        <ion-col  size="auto">
          <div class="analytics_box">
       
            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics three">
                  <img src="../../assets/image/Vector3.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{items_purchased}} Items
              </p>
              <p class="amt_sale_">
                sold in this month
              </p>
            </div>

              </ion-col>
            </ion-row>

          </div>
        </ion-col>
        <ion-col size="auto">
          <div class="analytics_box">

            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics four">
                  <img src="../../assets/image/Vector4.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{number_of_orders}} Orders
              </p>
              <p class="amt_sale_">
                received in this month
              </p>
            </div>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>




      <!-- ====== custom dates -->

      <div class="view_Che" *ngIf="custom_dates_view">

  

      <ion-row class="row_bg" justify-content-center   *ngFor="let c of filterSale_" >


        <ion-col size="auto">
          <div class="analytics_box">
            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics one">
                  <img src="../../assets/image/Vector.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{c.gross_sale | currency:settings.currency:'symbol':'1.2-2'}}
              </p>
              <p class="amt_sale_">
                gross sale
              </p>
            </div>

              </ion-col>
            </ion-row>
         
        
          </div>
        </ion-col>
        <ion-col size="auto" >
          <div class="analytics_box">
            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics two">
                  <img src="../../assets/image/Vector2.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{c.earing | currency:settings.currency:'symbol':'1.2-2'}}
              </p>
              <p class="amt_sale_">
                earnings
              </p>
            </div>

              </ion-col>
            </ion-row>
         
          </div>
        </ion-col>
        <ion-col  size="auto">
          <div class="analytics_box">
       
            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics three">
                  <img src="../../assets/image/Vector3.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{c.items_purchased}} Items
              </p>
              <p class="amt_sale_">
                sold in the period
              </p>
            </div>

              </ion-col>
            </ion-row>

          </div>
        </ion-col>
        <ion-col size="auto">
          <div class="analytics_box">

            <ion-row>
              <ion-col size=3  style="padding:0px;display: flex;justify-content: center;align-items: center;">
                <div class="ico_Anlytics four">
                  <img src="../../assets/image/Vector4.png" class="vec_img">
                </div>
              </ion-col>
              <ion-col>
                <div class="ico_sales">
                <p class="amt_sale">
                  {{c.number_of_orders}} Orders
              </p>
              <p class="amt_sale_">
                received in the period
              </p>
            </div>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      
    </div>

      <!-- <ion-item> -->

        <ion-row>
          <ion-col class="col_1">
            <ion-datetime class="date_inp" displayFormat="YYYY-MM-DD" [(ngModel)]="date_start" placeholder="Start Date"></ion-datetime>
          </ion-col>
          <ion-col class="col_2">

            <ion-row>
              <ion-col>
                <ion-datetime class="date_inp"  displayFormat="YYYY-MM-DD" [(ngModel)]="end_start" placeholder="End Date"></ion-datetime>

              </ion-col>
              <ion-col>
                <ion-button class="view_metrics" style="float: right;" (click)="view_metrics()">Apply</ion-button>

              </ion-col>
            </ion-row>
         

  
          </ion-col>


        </ion-row>


      <!-- </ion-item> -->

      <div >

        <ion-card class="cus">
              <ion-input (keyup)="mySearchFunctionTable()" placeholder="Search by Order Id or User name" id="searchinput" type="text" title="type something here"></ion-input>
              </ion-card>   
    
        <table id="myTable"  >
          <tr>
            <th>User</th>
            <th>OrderID</th>
            <th>Status</th>
            <th> Amount</th>
            <th>Paid Date</th>
            <th>Update</th>
            <!-- <th>Note</th> -->

          </tr>
          <tr *ngFor="let item of VendorOrders_">
            <td id="fname">{{item.order_detail._billing_first_name}}</td>
            <td id="orderId">{{item.order_detail.order_id}} </td>
            <td *ngIf="item.order_detail.product_details[0]">
              <ion-select [(ngModel)]="item.order_detail.product_details[0].order_status" name="order_status">
                <div *ngFor="let field of order_status_ven">
                    <ion-select-option value="{{field.label}}"><span [innerHTML]="field.label"></span></ion-select-option>
                </div>
            </ion-select>

              <!-- {{ item.order_detail.product_details[0]?.order_status }} -->
            </td>
            <td *ngIf="!item.order_detail.product_details[0]">No products available for this order.</td>
            <td>{{item.order_detail._order_total | currency:settings.currency:'symbol':'1.2-2'}}</td>
            <td>{{item.order_detail._paid_date}}</td>
            <!-- <td>{{store.withdraw_mode}}</td> -->
            <td  
            class="ion-activatable ion-focusable hydrated">
          <div class="edit_">
            <ion-icon name="save-outline" class="save_icon" (click)="refreshOrderStatus(item, item.order_detail.product_details[0]?.order_status )"></ion-icon>
            <ion-icon name="create-outline" class="edit_icon" (click)="getOrder_Detail(item, item.order_detail.product_details[0]?.order_status)"  ></ion-icon>
          </div>
          </td>
            <!-- <td>
           {{store.created | date: 'dd/MM/yyyy'}}
            </td> -->
          </tr>
    
        </table>
      
      </div>





    <ion-list *ngIf="!userLoggedIn">

      <ion-item (click)="goTo('/tabs/home')" detail="true" lines="inset" class="ion-activatable">
        <img src="../../assets/image/home.png" class="ic_sidemenu">
        <ion-label>{{"Home" | translate}}</ion-label>
    </ion-item>

    <!-- <ion-item (click)="goTo('/tabs/home')" detail="true" lines="inset" class="ion-activatable">
      <img src="../../assets/image/articles.png" class="ic_sidemenu">
      <ion-label>{{"Articles - coming soon" | translate}}</ion-label>
  </ion-item> -->


  <ion-item (click)="goTo('/vendor-add-products')" detail="true" lines="inset"  class="ion-activatable">
    <img src="../../assets/image/product.png" class="ic_sidemenu">
      <ion-label>{{"Products" | translate}}</ion-label>
</ion-item>

      <ion-item (click)="goTo('/tabs/account/vendor-orders')" detail="true" lines="inset" class="ion-activatable">
        <img src="../../assets/image/orders.png" class="ic_sidemenu">
        <ion-label>{{"Orders" | translate}}</ion-label>
    </ion-item>

    <ion-item (click)="goTo('/order-payments')" detail="true" lines="inset" class="ion-activatable">
      <img src="../../assets/image/payment.png" class="ic_sidemenu">
      <ion-label>{{"Payment" | translate}}</ion-label>
  </ion-item>


  <ion-item (click)="goTo('/vendor-coupon-list')" detail="true" lines="inset" class="ion-activatable">
    <img src="../../assets/image/coupan.png" class="ic_sidemenu">
    <ion-label>{{"Coupons" | translate}}</ion-label>
</ion-item>

<ion-item (click)="goTo('/customer-details')" detail="true" lines="inset" class="ion-activatable">
  <img src="../../assets/image/customer.png" class="ic_sidemenu">
  <ion-label>{{"Customers" | translate}}</ion-label>
</ion-item>

<ion-item (click)="goTo('/customer-details')" detail="true" lines="inset" class="ion-activatable">
  <img src="../../assets/image/refund.png" class="ic_sidemenu">
  <ion-label>{{"Refund - coming soon" | translate}}</ion-label>
</ion-item>



    <ion-item (click)="goTo('/reports')" detail="true" lines="inset" class="ion-activatable">
      <img src="../../assets/image/report.png" class="ic_sidemenu">
      <ion-label>{{"Reports" | translate}}</ion-label>
  </ion-item>

<ion-item (click)="goTo('/driver-account-create')" detail="true" lines="inset"  class="ion-activatable">
  <img src="../../assets/image/customer.png" class="ic_sidemenu">
  <ion-label>{{"Create Driver Account" | translate}}</ion-label>
</ion-item>




    </ion-list>

    <ion-list  >
  

      <ion-item (click)="expandItem()" detail="true" lines="inset"  class="ion-activatable">
        <img src="../../assets/image/settings.png" class="ic_sidemenu">
        <ion-label>{{"Settings" | translate}}</ion-label>
      </ion-item>
  

        <app-expandable  class="expn" *ngIf="itemExpanded" expandHeight="100px" >

          <ion-item (click)="goTo('tabs/account/address')" detail="true" lines="inset"  class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Store Address" | translate}}</ion-label>
        </ion-item>

       
          <ion-item (click)="goToSettings('/store')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Store" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/location')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Location" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/payment')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Payment" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/shipping')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Shipping" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/seo')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"SEO" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/store-policies')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Store Policies" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/customer-support')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Customer Support" | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="goToSettings('/store-hours')" detail="true" lines="inset"  class="ion-activatable Exp">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{"Store Hours" | translate}}</ion-label>
          </ion-item>

        </app-expandable>

    </ion-list>



    <!-- <ion-row>
      <ion-col>
        <p class="Settings" (click)="V_productAdd()">Add Products</p>
        <ion-button class="Settings" (click)="V_Order_list()"> Orders</ion-button>
        <p class="Settings" >Customers</p>
        <p class="Settings">Settings</p>
        <p class="Settings">Reviews</p>
        <ion-button class="Settings" (click)="V_CouponList()">Coupons</ion-button>
     
      </ion-col>
    </ion-row> -->
   
  </div>

  
</div>

  <!-- =========================================== all  products -->
  <!-- <ion-row *ngIf="data.products?.length">
    <ion-col size="{{settings.colWidthLatest}}" *ngFor="let item of data.products" [style.padding.px]="settings.dimensions.productPadding">
    <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
      <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)"></ion-img>
      <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="!item.images?.length" src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
      <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
      <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>

        <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
        <div *ngIf="item.stock_status == 'instock'">
        <ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
        </div>

      <ion-card-header (click)="getProduct(item)">
        <ion-card-title mode="md">{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content (click)="getProduct(item)">
        <p class="price">
            <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
            <span class="regular-price" *ngIf="item.sale_price"><span [innerHTML]="item.formated_sales_price"></span><del><span class="special-price" [innerHTML]="item.formated_price"></span></del></span>
        </p>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row> -->

  <ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && data.products?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>